@media (max-width: 991px) {
  header {
      padding: 0 35px 0 35px;
  }
  .promo {
      h1, h2, &__icons, &__link {
          margin: 0 auto;
          padding-top: 10px;
      }
      .button {
          margin: 0 auto;
          margin-top: 20px;
      }
  }
  .consultation {
      &__descr {
          text-align: center;
      }
      .title {
          text-align: center;
      }
  }
  .feed-form {
      margin: 0 auto;
  }
  .carousel {
      .button {
          &__arrow {
              display: none;
          }
      }
  }
  .comments {
      &__wrapper {
          margin-left: 60px;
      }
  }
}

@media (max-width: 768px) {
    .header {
        .hidden-m {
            display: none;
        }
    }
    .advantages {
        &__wrapper {
            flex-wrap: wrap;
            width: 90%;
            padding-left: 20px;
        }
        &__item {
            &:nth-child(3) {
                margin: 0 auto;
                margin-top: 15px;
            }
            
        }
    }
    .carousel {
        img {
            max-width: 90%;
        }
    }
    .catalog {
        &-item {
            margin: 0 auto;
    }
        &__tabs {
            max-width: 85%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
    li.catalog__tab {
            width: 90%;
        }
        &__tab-name {
            font-size: 20px;
        }
        
    }
    .comments__item {
        max-width: 95%;
        &__descr {
            .name {
                font-size: 16px !important;
            }
        }
    }
}

@media (max-width: 566px) {
    .header {
        a {
            font-size: 16px;
        }
        .button {
            margin-left: 5px;
            width: 144px;
            height: 40px;
        }
    }
    .promo {
        &__icons {
            max-width: 100%;
        }        
        h1 {
           font-size: 30px;
       }
       h2 {
           font-size: 20px;
           text-align: center;
       }
    }
    .advantages {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .catalog {
        h2 {
            font-size: 25px;
        }
    }
    .consultation {
        // !!!!!
        .consultation__descr {
            font-size: 16px;
        }
        h2 {
            font-size: 20px;
        }
        
    }
    .comments {
      &__item {
        &__photo {
            display: none;
        }
        &__descr {
            .text {
                display: block;
                max-width: 60%;
                line-height: 18px !important;
                font-size: 15px !important;
            }
        }
      }
    }
    .footer {
        &__info {
            max-width: 80%;
        }
        &__social {
            display: none !important;
        }
}

@media (max-width: 320px) {
    * {
        max-width: 100%;
    }
    .header {
        display: flex;
        flex-direction: column;
        &__contacts {
            margin-top: 15px;
        }
    }
    .promo {
        h1 {
            text-align: center;
            font-size: 30px;
        }
        h2 {
            text-align: center;
            font-size: 15px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .button {
            width: 90%;
        }
    }
    .carousel {
        display: none;
    }
    .catalog-item {
        &__link, &__back {
            display: none !important;
        }
    }
    .consultation {
        .feed-form {
            width: 90%;
        }
    }
 }
}